form{
  display:flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px;
  background-color: burlywood;
  gap: 20px;
  margin: auto;
  margin-top: 30px;
}
form>input{
  font-size: 30px;
}
form > button{
  font-size: 30px;
}